<!-- @ Efecto scroll deslizante a pantalla completa usando solo css
     @ author Agustín Baraza (contacto@nosolocss.com)
     @ Copyright 2014 nosolocss.com. All rights reserved
     @ http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
     @ link http://www.nosolocss.com -->

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="efecto scroll, scroll, css" />
<meta name="description" content="Ejemplo con viñetas de batman para mostrar un simple efecto de scroll deslizante creado solo con CSS. No solo CSS" lang="ES" />
<title>Efecto scroll deslizante a pantalla completa usando solo css</title>
<link rel="stylesheet" href="styles.css" />
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id="inicio">
		<p>SCROLL DESLIZANTE CON CSS</p>
		<p>(UNA FORMA SENCILLA Y ELEGANTE DE SCROLLEAR)</p>
		<img src="batmanyrobinmeme3.jpg" alt="meme de batman y robin 1" />
		<a class="next" href="#escena1">COMENZAR...</a>
	
	</div>
	<div id="escena1" class="panel">

		<p>CREA UN SIMPLE EFECTO SCROLL CON UNAS POCAS LINEAS DE CSS Y SIN USAR JAVASCRIPT</p>
		<img src="batmanyrobinmeme.jpg" alt="meme de batman y robin 2" />
		<a class="next" href="#escena2">SIGUE LEYENDO...</a>
		
	</div>
	<div id="escena2" class="panel">
	
		<p>LOS ENLACES ANIMAN EL CONTENIDO MEDIANTE TRANSICIONES CON AYUDA DEL SELECTOR TARGET</p>
		<img src="batmanyrobinmeme4.jpg" alt="meme de batman y robin 1" />
		<a class="next" href="#escena3">CONTINUA...</a>
		
	</div>
	<div id="escena3" class="panel">
	
		<p>PARA MAS INFORMACION VISITA LA ENTRADA EN <a href="http://www.nosolocss.com/blog/css/efecto-scroll-deslizante-a-pantalla-completa-usando-solo-css">NOSOLOCSS.COM</a></p>
		<a class="next" href="#escena1">VOLVER A EMPEZAR</a>
		<img src="batmanyrobinmeme2.jpg" alt="meme de batman y robin 3" />
		
	</div>


</body>
</html>