 <div class="container">
 <div class="img">
	<img src="resources/img/votapp.png" width="240px" /> </div>
      <form class="form-signin">
        <label for="inputName" class="sr-only">Email address</label>
        <input type="text" id="inputName" class="form-control" placeholder="Username" required autofocus ng-model="user.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="user.password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="signin()" >Sign in</button>
      </form>

    </div> <!-- /container -->